<html>
<head>
    <title>Cached page - django-urldecorators example project</title>
</head>
<body>
    <h1>Cached page</h1>
    <p>Time: <b>{% now "jS F Y H:i:s" %}</b></p>
    <p>Middleware `django.middleware.cache.CacheMiddleware` is applied.</p>

    <h2>Example configuration</h2>

<pre>
from urldecorators import url, include

urlpatterns = [
    # ...
    url(r'^cached/', include('example.cached.urls'),
        middleware_classes=['django.middleware.cache.CacheMiddleware']),
    # ...
]
</pre>

    <p><a href="{% url 'home' %}">Home</a></p>
</body>
</html>