<html>
<head>
    <title>Private page - django-urldecorators example project</title>
</head>
<body>
    <h1>Private page</h1>
    <p>You are logged in if you see this page. <a href="{% url 'logout' %}">Logout</a></p>
    <p>Decorator `django.contrib.auth.decorators.login_required` is applied.</p>

    <h2>Example configuration</h2>

<pre>
from urldecorators import url, include

urlpatterns = [
    # ...
    url(r'^private/', include('example.private.urls'),
        decorators=['django.contrib.auth.decorators.login_required']),
    # ...
]
</pre>

    <p><a href="{% url 'home' %}">Home</a></p>
</body>
</html>